mqtt-endoint-graphql.json
[{"id":"6100b5b3.2cf8ac","type":"mosca in","z":"cd3a36de.b70e58","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":346.5,"y":106,"wires":[[]]},{"id":"ca145965.2f7d28","type":"debug","z":"cd3a36de.b70e58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":571.5,"y":125,"wires":[]},{"id":"533259b2.376318","type":"mqtt out","z":"cd3a36de.b70e58","name":"","topic":"building12/floor1/temperature","qos":"","retain":"","broker":"d4bd4b0d.128a88","x":380.5,"y":373,"wires":[]},{"id":"143d8b1a.22c355","type":"function","z":"cd3a36de.b70e58","name":"Sensor","func":"var temperature =  Math.floor(Math.random() * 90) + 70; \nvar now = new Date();\n\nif ( temperature > 100)\nmsg.payload = { location : 'building12', eventType : 'overheated', created: now.toString() , timestamp: now.getTime(),  temperature : temperature };\nelse \nmsg.payload = { location : 'building12', eventType: 'normal', created: now.toString() , timestamp: now.getTime(),  temperature : temperature };\nreturn msg;","outputs":1,"noerr":0,"x":139.5,"y":356,"wires":[["533259b2.376318"]]},{"id":"ee0e1d0e.c1163","type":"mqtt in","z":"cd3a36de.b70e58","name":"","topic":"building12/floor1/temperature","qos":"2","broker":"d4bd4b0d.128a88","x":648.5,"y":370,"wires":[["6c2936c3.b22eb8"]]},{"id":"6c2936c3.b22eb8","type":"debug","z":"cd3a36de.b70e58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":724.5,"y":430,"wires":[]},{"id":"61fe804e.5b718","type":"mqtt in","z":"cd3a36de.b70e58","name":"# MQTT Sink","topic":"#","qos":"2","broker":"d4bd4b0d.128a88","x":332,"y":156,"wires":[["702d3f13.3997c","ca145965.2f7d28"]]},{"id":"b9a0ee0f.5260a","type":"mqtt out","z":"cd3a36de.b70e58","name":"","topic":"building14/floor4/temperature","qos":"","retain":"","broker":"d4bd4b0d.128a88","x":381,"y":427,"wires":[]},{"id":"3df42d6a.a2f0d2","type":"function","z":"cd3a36de.b70e58","name":"Sensor","func":"var temperature =  Math.floor(Math.random() * 90) + 70; \nvar now = new Date();\n\nif ( temperature > 100) \n  msg.payload = { location : 'building14', eventType : 'overheated', created: now.toString() , timestamp: now.getTime(),  temperature : temperature };\nelse \n  msg.payload = { location : 'building14', eventType: 'normal', created: now.toString() , timestamp: now.getTime(),  temperature : temperature };\n\n\nreturn msg;","outputs":1,"noerr":0,"x":137,"y":451,"wires":[["a419914f.27851"]]},{"id":"ae826655.ff4bb8","type":"inject","z":"cd3a36de.b70e58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":102,"y":407,"wires":[["3df42d6a.a2f0d2","143d8b1a.22c355"]]},{"id":"52d09833.6d6d28","type":"comment","z":"cd3a36de.b70e58","name":"MQTT Broker + Sink","info":"","x":434.5,"y":53,"wires":[]},{"id":"702d3f13.3997c","type":"function","z":"cd3a36de.b70e58","name":"DataStore","func":"const homeDir = require('os').homedir();\nvar Datastore = require('nedb');\n\nvar db = new Datastore(homeDir+'/mqtt_event.db');\ndb.loadDatabase();\n\ndb.insert( Object.assign({}, JSON.parse(msg.payload), { topic : msg.topic, packetId : msg._msgid }), function (err, newDoc) {   \n          // do nothing \n        }); \n\nreturn null;","outputs":1,"noerr":0,"x":571.5,"y":164,"wires":[[]]},{"id":"2c2d7c7f.fbeb44","type":"comment","z":"cd3a36de.b70e58","name":"MQTT Publisher","info":"","x":191.5,"y":309,"wires":[]},{"id":"5c6944d5.5b77dc","type":"comment","z":"cd3a36de.b70e58","name":"MQTT Subscriber","info":"","x":644,"y":316,"wires":[]},{"id":"566c6090.6ecfe","type":"http in","z":"cd3a36de.b70e58","name":"GraphQL Server","url":"/graphql","method":"graphql","upload":false,"swaggerDoc":"","x":429.5,"y":205,"wires":[[]]},{"id":"a419914f.27851","type":"delay","z":"cd3a36de.b70e58","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":163.5,"y":494,"wires":[["b9a0ee0f.5260a"]]},{"id":"1eeb7787.6975d8","type":"inject","z":"cd3a36de.b70e58","name":"reboot","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":92,"y":591,"wires":[["158bf7c6.03cd18"]]},{"id":"158bf7c6.03cd18","type":"function","z":"cd3a36de.b70e58","name":"register \"reboot\" event","func":"var temperature =  0; \nvar now = new Date();\n\nvar whichBuilding =  Math.floor(Math.random()); \n\nif ( whichBuilding % 2 ) {\n  msg.payload = { location : 'building12', eventType : 'reboot', created: now.toString() , timestamp: now.getTime(),  temperature : temperature };\n  return [ msg, null];\n} else {\n  msg.payload = { location : 'building14', eventType: 'reboot', created: now.toString() , timestamp: now.getTime(),  temperature : temperature };\n  return [null, msg ];\n}  \n  \nreturn [null, null];\n","outputs":2,"noerr":0,"x":265,"y":592,"wires":[["533259b2.376318"],["b9a0ee0f.5260a"]]},{"id":"4b14da81.9daa04","type":"comment","z":"cd3a36de.b70e58","name":"Whenever a flow is deployed, \"reboot\" event is occurred","info":"","x":233,"y":550,"wires":[]},{"id":"d4bd4b0d.128a88","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]